# dependencies
node_modules/
package-lock.json

# misc
*.log
.DS_Store
1-scripts.txt
.vscode/
.idea/
.next/
dist/
.vercel

# TypeScript build cache
*.tsbuildinfo

# local env
.env.*

#testing 
coverage/

#prisma
prisma/generated/