# dependencies
node_modules/
package-lock.json

# misc
*.log
.DS_Store
1scripts.txt
.vscode/
.idea/
.next/
dist/
.vercel

# TypeScript build cache
*.tsbuildinfo

# local env
.env
.env.local
.env.neon
.env.staging

#testing 
coverage/

#prisma
prisma/generated/